[submodule "libs/jquery-i18n"]
	path = libs/jquery-i18n
	url = https://github.com/mweibel/jquery-i18n.git
[submodule "libs/strophejs"]
	path = libs/strophejs
	url = https://github.com/candy-chat/strophejs.git
[submodule "libs/strophejs-plugins"]
	path = libs/strophejs-plugins
	url = https://github.com/metajack/strophejs-plugins.git
[submodule "libs/mustache.js"]
	path = libs/mustache.js
	url = https://github.com/janl/mustache.js.git
